html {
	scroll-snap-type: y mandatory;
	scroll-snap-stop: always;
	-webkit-overflow-scrolling: touch;
	touch-action: pan-y;
}

body {
	margin: 0;
	font-family: "Onest", sans-serif;
	hyphens: auto; /* Enable '-' hyphenation a word */
	font-synthesis-weight: none;
	font-optical-sizing: auto;
}

#root {
}
