.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 100px;
  padding: 0;
  justify-content: space-evenly;
  width: 100%;

  @media (max-width: 730px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

.homeLinkWrapper {
  position: absolute;
  top: 44vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.homeLink {
  color: var(--palette-onContainer);
  font-size: 32px;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;

  &:hover {
    color: var(--palette-primary);
  }

  svg {
    margin-right: 8px;
  }
}

.caption {
  font-weight: 600;
  color: var(--palette-onContainerVariant);
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 540px;

  @media (max-width: 1070px) {
    max-width: 450px;
  }

  @media (max-width: 870px) {
    max-width: 360px;
  }
}

.email {
  font-weight: 600;
  font-size: 40px;
  color: var(--palette-primary);
  text-decoration: none;
  white-space: nowrap;
  width: fit-content;
  margin-top: 12px;

  svg {
    width: auto;
    height: 26px;
    display: inline-block;
    margin-right: 8px;
  }

  @media (max-width: 1070px) {
    font-size: 32px;

    svg {
      height: 22px;
    }
  }

  @media (max-width: 870px) {
    font-size: 24px;

    svg {
      height: 18px;
    }
  }
}

.linksWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  max-width: 340px;
  gap: 100px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 12px;
    }
  }

  section {
    padding-left: 0px;
    margin-top: 24px;
    position: relative;
  }

  h3 {
    font-weight: 600;
    font-size: 24px;
    color: var(--palette-onContainer);
    margin: 0;
    margin-bottom: 16px;
  }

  @media (max-width: 870px) {
    gap: 60px;
  }
}

.link {
  font-weight: 600;
  font-size: 18px;
  color: var(--palette-onContainer);
  text-decoration: none;
  white-space: nowrap;
  padding: 2px 0;
  display: inline-block;

  &:hover {
    color: var(--palette-primary);
  }

  svg {
    width: auto;
    height: 10px;
    display: inline-block;
    margin-left: 8px;
  }
}
