.host {
	position: relative;
	min-height: 100vh;
	min-height: 100dvh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;

	scroll-snap-align: start; /* чаще всего start; для центрирования — center */
	box-sizing: border-box;

	--left: clamp(32px, 1rem + 8.8vw - 28px, 120px);

	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		width: 1px;
		height: 100%;
		background-color: #000000;
		left: var(--left);
		opacity: 0.05;
		transition: left 0.3s ease;
	}
}

.block {
	margin-left: calc(var(--left) + 4px);
	margin-bottom: 96px;
	margin-right: 24px;
	font-weight: 500;

	transition: margin-left 0.3s ease;

	&:first-child {
		margin-top: 140px;
	}

	h3 {
		opacity: 0.19;
		text-transform: uppercase;
		font-size: 21px;
		font-weight: 600;
		letter-spacing: 30%;
		margin: 0;
		margin-bottom: 12px;
	}

	ol {
		padding-inline-start: 0px;
		margin-block-start: 0px;
		margin-block-end: 0px;

		--font-size: clamp(17px, 1rem + 0.3vw - 0.5px, 20px);

		li {
			max-width: 600px;
			line-height: 1.6;
			font-size: var(--font-size);
			margin-bottom: clamp(32px, 1rem + 1.4vw + 9px, 46px);
		}

		/* стили маркеров списка */
		li::marker {
			color: #0000001a;
			font-weight: 500;
			font-size: var(--font-size);
		}

		/* активный пункт: маркер как у активной ссылки */
		li:has(a.active)::marker {
			color: #ff4d00;
			font-weight: 600;
		}
	}
}

.narrow .block {
	margin-bottom: 76px;

	&:first-child {
		margin-top: 100px;
	}
}

.logo {
	height: clamp(27px, 1rem + 0.3vw + 9.5px, 30px);
	vertical-align: middle;
	transform: translateY(-2px);
}

.navigation {
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
	padding: 46px;
}

.endMarker {
	scroll-snap-align: end; /* создает точку прилипания на нижнем конце секции */
	scroll-snap-stop: always; /* предотвращает проскальзывание через элементы */
	display: block;
	min-height: 1px;
}
