.root {
  width: 100vw;
}

.aboutMe {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  padding: var(--gap-desktop) calc(var(--gap-desktop) / 2);

  @media (max-width: 600px) {
    padding: calc(var(--gap-desktop) / 2) calc(var(--gap-mobile) * 2);
  }
}
