.root {
  width: 100vw;
}

.aboutMe {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  padding: var(--gap-desktop) var(--gap-mobile);
}
