.root {
  margin-bottom: var(--line-spacing);
  position: relative;
}

.pen {
  position: absolute;
  width: 340px;
  height: 140px;
  left: -59px;
  top: -45px;
  z-index: 1;

  @media (max-width: 800px) {
    width: 240px;
    height: 100px;
    top: -32px;
    left: -42px;
  }
}

.text {
  margin: 0;
}