.link {
  margin-bottom: var(--line-spacing);
  position: relative;
  color: var(--text-color);
}

.pen {
  position: absolute;
  width: 340px;
  height: 140px;
  left: -59px;
  top: -45px;
  z-index: 1;

  @media (max-width: 800px) {
    width: 240px;
    height: 100px;
    top: -32px;
    left: -42px;
  }
}

.arrow {
  position: fixed;
  z-index: 2;
  left: -18px;
  top: -18px;
  width: 36px;
  height: 36px;
  backdrop-filter: invert(1) blur(6px);
  mask: var(--mask-link) no-repeat;
  mask-size: contain;
  cursor: none !important;
  scale: 0;

  transition: scale 0.4s cubic-bezier(0, 1, 0.29, 1);

  svg {
    width: 100%;
    height: 100%;
  }
}

.text {
  margin: 0 !important;
}
