.host {
	position: relative;
	height: 100vh;
	height: 100dvh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	gap: 24px;

	scroll-snap-align: start; /* чаще всего start; для центрирования — center */
	scroll-snap-stop: always; /* предотвращает проскальзывание через элементы */

	padding: 24px;
	box-sizing: border-box;
}

.narrow.host {
	flex-direction: column;
}

.host {
	footer {
		margin-top: auto;
	}
}

.aside {
	flex-basis: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navigation {
	margin-right: auto;
	margin-top: auto;
}

.canvas {
	position: absolute;
	width: 240px;
	height: 300px;
	background-color: #f0f0f0;
	margin: auto;
}

.content {
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.emailBlock {
	margin-top: 200px;
	margin-bottom: 100px;

	transition: margin-top 0.3s ease;

	p {
		margin: 0;
		font-size: clamp(17px, 1rem + 0.3vw - 0.5px, 20px);
		font-weight: 500;
		color: #000000;
		margin-bottom: 16px;
		max-width: 500px;
	}

	a {
		font-size: clamp(30px, 1rem + 1.8vw + 5px, 48px);
		font-weight: 600;
		text-decoration: none;
		color: #000000;
	}
}

.narrow .emailBlock {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 60px;
}

.linksSection {
	display: flex;
	flex-direction: row;
	gap: 80px;
	margin-top: 0px !important;
}

.narrow .linksSection {
	margin: auto;
	min-width: 400px;
}

.linksBlock {
	display: flex;
	flex-direction: column;
	gap: 12px;

	h3 {
		opacity: 0.19;
		text-transform: uppercase;
		margin: 0;
		font-size: clamp(17px, 1rem + 0.4vw - 1px, 21px);
		font-weight: 600;
	}
}

.externalLink {
	font-size: clamp(17px, 1rem + 1.2vw - 5px, 29px);
	font-weight: 600;
	text-decoration: none;
	color: #000000;
}

.arrowIcon {
	width: clamp(13px, 1rem + 0.4vw - 5px, 17px);
	margin-left: 4px;
}
